<%- include('../header') %>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">Publicação</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
    <% publicacoes.forEach( content => { %>
      <tr>
        <td><%= content.titulo %></td>
        <td>
          <a href="/publicacoes/editar/<%= categoria %>/<%= content.id %>">Editar</a>
          <a href="/publicacoes/excluir/<%= categoria %>/<%= content.id %>">Excluir</a>
        </td>
      </tr>
      <% }) %>
  </tbody>
</table>
<%- include('../footer') %>
